
        <div>
            <iframe
                src="../../jbrowse2/index.html?config=config.json&loc=<%= params[:loc] %>&assembly=<%= params[:assembly] %>&tracks=<%= params[:tracks] %>"
                style="border: none"
                width="100%"
                height="650">
            </iframe>
        </div>

